<!DOCTYPE html>
<html>
<head>
    <title>Timothée Jeannin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oxygen:300' type='text/css'>
    <link rel="stylesheet" href="index.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app="App">
<div class="container" ng-controller="Controller">
    <div class="row">
        <div class="col-md-7">
            <h1 style="font-size: 70px">Timothée <b>Jeannin</b></h1>
            12 Boulevard National 13001 Marseille, France<br/>
            <a href="mailto:timojeajea@gmail.com">timojeajea@gmail.com</a><br/>
            <a href="tel:+33 670 542 052">+33 670 542 052</a>
        </div>
        <div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm">
            <img height="240" style="padding: 15px; margin-top: 30px; border: solid lightgray 1px"
                 src="picture.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Experiences</h1>
        </div>
        <div class="row tj-spaced">
            <div class="col-md-2 text-right hidden-xs hidden-sm">2013 - Now</div>
            <div class="col-md-10">
                <span class="tj-title">Software engineer / Project manager:
                    <a href="http://www.letsignit.com/">Letsignit</a>.</span>
                <span class="tj-info">(1 year and 6 months - Marseille, France)</span><br/>
                Project management, Web applications, Browser extensions, Web services.<br/>
                Responsible for defining development methodologies across the enterprise.
            </div>
        </div>
        <div class="row tj-spaced">
            <div class="col-md-2 text-right hidden-xs hidden-sm">2012 - 2013</div>
            <div class="col-md-10">
                <span class="tj-title">Software engineer: <a href="http://www.synchronoss.com/">Synchronoss</a>.</span>
                <span class="tj-info">(1 year - Marseille, France)</span><br/>
                Android App development for Orange and Verizon carriers.<br/>
                Teamwork, user interfaces design, cloud synchronization.
            </div>
        </div>
        <div class="row tj-spaced">
            <div class="col-md-2 text-right hidden-xs hidden-sm">2012</div>
            <div class="col-md-10">
                <span class="tj-title">Software engineer: <a href="http://www.soprasteria.com/">Sopra Steria</a>.</span>
                <span class="tj-info">(3 months - Aix en Provence, France)</span><br/>
                Initialization and development of Airbus Helicopters customer portal.<br/>
                Teamwork, industrialization of the development process, web architecture.
            </div>
        </div>
        <div class="row tj-spaced">
            <div class="col-md-2 text-right hidden-xs hidden-sm">2011</div>
            <div class="col-md-10">
                <span class="tj-title">Graduation internship :
                    <a href="http://www.airbushelicopters.com/">Airbus Helicopters</a>.</span>
                <span class="tj-info">(6 months - Marignane, France)</span><br/>
                Development of an electrical load analysis tool for helicopters.<br/>
                Project management, critical data handling, web development.
            </div>
        </div>
        <div class="row tj-spaced">
            <div class="col-md-2 text-right hidden-xs hidden-sm">2010</div>
            <div class="col-md-10">
                <span class="tj-title">Internship: <a href="http://www.campusgroups.com/">CampusGroups</a>.</span>
                <span class="tj-info">(2 months - New York, United States)</span><br/>
                Monitoring tool for academic associations management platform.<br/>
                Teamwork in a growing start-up, web development.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Education</h1>
        </div>
        <div class="row tj-spaced">
            <div class="col-md-2 text-right hidden-xs hidden-sm">2008 - 2011</div>
            <div class="col-md-10">
                <span class="tj-title">Master-level Engineering degree from
                    <a href="https://www.centrale-marseille.fr/"> Ecole Centrale Marseille</a></span>
                <span class="tj-info">(3 years - Marseille, France)</span><br/>
                A French engineering school which awards the Master's Degree in Computer Science and Engineering.
            </div>
        </div>
        <div class="row tj-spaced">
            <div class="col-md-2 text-right hidden-xs hidden-sm">2006 - 2008</div>
            <div class="col-md-10">
                <span class="tj-title">Classe Préparatoire at Lycée Turgot</span>
                <span class="tj-info">(2 years - Paris, France)</span><br/>
                2 years intensive undergraduate course, specialized in Maths and Physics,<br/>
                to prepare for competitive exam to enter French engineering schools.
            </div>
        </div>
        <div class="row tj-spaced">
            <div class="col-md-2 text-right hidden-xs hidden-sm">2002 - 2006</div>
            <div class="col-md-10">
                <span class="tj-title">Baccalauréat with honors at Lycée Alain</span>
                <span class="tj-info">(4 years - Le Vésinet, France)</span><br/>
                Equivalent to A-levels.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Personal Projects</h1>

            <div class="row tj-spaced">
                <div class="col-md-2 text-right hidden-xs hidden-sm">2012 - Now</div>
                <div class="col-md-10">
                    <span class="tj-title">Automated Youtube Channel: <a
                            href="https://www.youtube.com/channel/UCsuAMQ97Gq0oy1pub04o4wA">DotaDroid</a>.</span><br/>
                    DotaDroid finds interesting Dota2 actions and upload them on YouTube.<br/>
                    <a class="label label-primary" href="https://www.python.org/">Python</a>
                    <a class="label label-primary" href="http://redis.io/">Redis</a>
                    <a class="label label-primary" href="http://python-rq.org/">Rq</a>
                    <a class="label label-primary" href="http://flask.pocoo.org/">Flask</a>
                    <a class="label label-primary" href="https://nodejs.org/">Node.js</a>
                    <a class="label label-primary" href="https://angularjs.org/">AngularJS</a>
                    <a class="label label-primary" href="https://www.java.com/fr/">Java</a>
                    <a class="label label-primary" href="https://gradle.org/">Gradle</a>
                    <a class="label label-primary" href="https://github.com/google/protobuf">Google Protobuf</a>
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-2 text-right hidden-xs hidden-sm">2014 - Now</div>
                <div class="col-md-10">
                    <span class="tj-title">Desktop Application: <a
                            href="http://www.streamtim.com/">StreamTim</a>.</span><br/>
                    Allows to stream a movie in Vlc from a torrent link / magnet link.<br/>
                    <a class="label label-primary" href="https://github.com/nwjs/nw.js">NW.js</a>
                    <a class="label label-primary" href="http://gruntjs.com/">Grunt</a>
                    <a class="label label-primary" href="http://karma-runner.github.io/0.12/index.html">Karma</a>
                    <a class="label label-primary" href="http://jasmine.github.io/">Jasmine</a>
                    <a class="label label-primary" href="http://getbootstrap.com/">Bootstrap</a>
                    <a class="label label-primary" href="http://jquery.com/">jQuery</a>
                    <a class="label label-primary" href="http://d3js.org/">D3.js</a>
                    <a class="label label-primary" href="https://github.com/mafintosh/peerflix">Peerflix</a>
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-2 text-right hidden-xs hidden-sm">2012 - Now</div>
                <div class="col-md-10">
                    <span class="tj-title">Android App: <a href="http://circlealarm.com">CircleAlarm</a>.</span><br/>
                    Design, development, promotion and marketing of an alarm clock for android.<br/>
                    More than 80 000 downloads and an average rating of 4.6 out of 5.
                    <ul>
                        <li>Top 10 of the best free apps of all times on
                            <a href="http://www.alltechtricks.org/top-10-best-android-apps-for-free/">
                                alltechtricks.com
                            </a>
                        </li>
                        <li>First of the apps of the week on
                            <a href="http://androidandme.com/2012/10/applications/top-10-most-popular-android-apps-from-last-week-circle-alarm-nba-2k13-right-click/">
                                androidandme.com
                            </a>
                        </li>
                        <li>Selected as android application of the week by
                            <a href="http://www.presse-citron.net/les-applis-a-telecharger-cette-semaine-polagram-circle-alarm-doo-net-appswitch/">
                                presse-citron.net
                            </a>
                        </li>
                    </ul>
                    <a class="label label-primary" href="https://www.java.com/fr/">Java</a>
                    <a class="label label-primary" href="http://developer.android.com/sdk/index.html">Android SDK</a>
                    <a class="label label-primary" href="http://www.joda.org/joda-time/">Joda Time</a>
                    <a class="label label-primary" href="http://square.github.io/otto/">Otto</a>
                    <a class="label label-primary" href="http://git-scm.com/">Git</a>
                    <a class="label label-primary" href="http://junit.org/">JUnit</a>
                    <a class="label label-primary" href="https://github.com/RobotiumTech/robotium">Robotium</a>
                    <a class="label label-primary" href="https://www.google.fr/ads/admob/">Google AdMob‎</a>
                    <a class="label label-primary" href="http://www.google.fr/intl/fr/analytics/">Google Analytics</a>
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-2 text-right hidden-xs hidden-sm">2012 - Now</div>
                <div class="col-md-10">
                    <span class="tj-title">Android Open Source Library: <a
                            href="http://github.com/TimotheeJeannin/ProviGen">ProviGen</a>.</span><br/>
                    Development, promotion and maintenance of a database management tool for Android.
                    <ul>
                        <li>Selected and published as library of the week by
                            <a href="http://androidweekly.net/issues/issue-57">androidweekly.net</a>
                        </li>
                    </ul>
                    <a class="label label-primary" href="https://www.java.com/fr/">Java</a>
                    <a class="label label-primary" href="http://developer.android.com/sdk/index.html">Android SDK</a>
                    <a class="label label-primary" href="http://git-scm.com/">Git</a>
                    <a class="label label-primary" href="http://junit.org/">JUnit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Programming Skills</h1>

            <div class="row">
                <div class="col-lg-4" ng-repeat="(skillSetName, skillSet) in skills" style="margin-bottom: 20px">
                    <div class="row">
                        <div class="col-sm-6 text-right" style="padding-right: 0">
                            <h5><b>{{skillSetName}}</b></h5>
                        </div>
                    </div>

                    <div class="row" ng-repeat="(skillName, skillEvaluation) in skillSet">
                        <div class="col-sm-4" style="padding-right: 0">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width' : skillEvaluation}"></div>
                            </div>
                        </div>
                        <div class="col-sm-8">{{skillName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Graphic Design</h1>

            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Adobe Photoshop:</span>
                    Realization of many logos, posters and booklets.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Adobe InDesign:</span>
                    84 page booklet for the Central Marseille Enterprises forum.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Languages</h1>

            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">French:</span> First language.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">English:</span> Fluent both written and spoken.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Japanese:</span> Beginner.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Other Interests</h1>

            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Sport:</span> Rock Climbing, HighLining, Windsurfing.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Music:</span> Drums.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Reading:</span> Comics, Science and technology.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Traveling:</span> Thailand, United States, Spain, Turkey, Kenya, Israel.
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>
</html>