<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>Timothée Jeannin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="printable-bootstrap.css" media="print">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="container" id="app">
    <div class="row">
        <div class="col-md-7">
            <h1 style="font-size: 70px">Timothée <b>Jeannin</b></h1>
            3A Rue Urbain V 34000 Montpellier, France<br/>
            <a href="mailto:timojeajea@gmail.com">timojeajea@gmail.com</a><br/>
            <a href="tel:+33 670 542 052">+33 670 542 052</a>
            <br/><br/><br/>
            More about me on <a href="https://github.com/TimotheeJeannin">GitHub</a> and
            <a href="http://stackoverflow.com/users/781588/timoth%C3%A9e-jeannin">StackOverflow</a>.
        </div>
        <div class="col-md-3 col-md-offset-1 hidden-xs hidden-sm tj-visible-print-block">
            <img height="240" style="padding: 15px; margin-top: 30px; border: solid lightgray 1px"
                 src="picture.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Experiences</h1>

            <div class="row tj-spaced" v-for="experience in experiences">
                <div class="col-md-2 text-right hidden-xs hidden-sm tj-visible-print-block">{{experience.timeFrame}}
                </div>
                <div class="col-md-8">
                    <span class="tj-title" v-html="experience.title"></span>
                    <span class="tj-info">{{experience.info}}</span><br/>
                    <span v-html="experience.description"></span>
                    <span class="tj-stack">
                        <span v-for="(techno, index) in experience.stack">
                            <a v-bind:href="techno.link">{{techno.name}}</a><span v-show="index !== (experience.stack.length-1)">, </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Education</h1>

            <div class="row tj-spaced">
                <div class="col-md-2 text-right hidden-xs hidden-sm tj-visible-print-block">2008 - 2011</div>
                <div class="col-md-10">
                <span class="tj-title">Master-level Engineering degree from
                    <a href="https://www.centrale-marseille.fr/"> Ecole Centrale Marseille</a></span>
                    <span class="tj-info">(3 years - Marseille, France)</span><br/>
                    A French engineering school which awards the Master's Degree in Computer Science and Engineering.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-2 text-right hidden-xs hidden-sm tj-visible-print-block">2006 - 2008</div>
                <div class="col-md-10">
                    <span class="tj-title">Classe Préparatoire at Lycée Turgot</span>
                    <span class="tj-info">(2 years - Paris, France)</span><br/>
                    Two years intensive undergraduate course, specialized in Maths and Physics,<br/>
                    to prepare for competitive exam to enter French engineering schools.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Personal Projects</h1>

            <div class="row tj-spaced" v-for="project in personalProjects">
                <div class="col-md-2 text-right hidden-xs hidden-sm tj-visible-print-block">{{project.timeFrame}}</div>
                <div class="col-md-7">
                    <span class="tj-title" v-html="project.title"></span><br/>
                    <span v-html="project.description"></span>
                    <span class="tj-stack">
                        <span v-for="(techno, index) in project.stack">
                        <a v-bind:href="techno.link">{{techno.name}}</a><span v-show="index !== (project.stack.length-1)">, </span>
                    </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Programming Skills</h1>

            <div class="row">
                <div class="col-sm-4" v-for="skillSet in skillSets" style="margin-bottom: 20px">
                    <div>
                        <div style="margin-left: 50%;">
                            <h5><b>{{skillSet.name}}</b></h5>
                        </div>
                    </div>

                    <div v-for="skill in skillSet.skills">
                        <div style="width: 50%; float: right">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     ng-style="{ 'width' : skill.evaluation}"></div>
                            </div>
                        </div>
                        <div class="text-right" style="width: 50%; float: right; padding-right: 15px">{{skill.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Graphic Design</h1>

            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Adobe Photoshop:</span>
                    Realization of many logos, posters and booklets.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Adobe InDesign:</span>
                    84 page booklet for the Centrale Marseille Enterprises forum.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Languages</h1>

            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">French:</span> First language.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">English:</span> Fluent both written and spoken.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Japanese:</span> Beginner.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="tj-section-title">Other Interests</h1>

            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Sport:</span> Rock Climbing, HighLining, Windsurfing.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Music:</span> Drums.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Reading:</span> Comics, Science and technology.
                </div>
            </div>
            <div class="row tj-spaced">
                <div class="col-md-10 col-md-offset-2">
                    <span class="tj-title">Traveling:</span> Thailand, United States, Spain, Turkey, Kenya, Israel.
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/><br/>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="index.js"></script>
</body>
</html>