
body {
    background: -webkit-radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* Standard syntax */
    font-family: 'Open Sans', sans-serif;
    line-height: 140%;
}

@media print {
    body {
        background: none;
        font-family: Arial, sans-serif;
    }
}

@media print {
    .tj-visible-print-block {
        display: block !important;
    }
}

.tj-section-title {
    margin-top: 50px;
    font-weight: bold;
}

.tj-title {
    font-weight: bold;
}

.tj-info {
    font-style: italic;
}

.tj-stack {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.tj-stack.ng-hide {
    display: inline-block !important;
    visibility: hidden;
    opacity: 0;
}

@media print {
    .tj-stack {
        -webkit-transition: all 0 ease 0;
        transition: all 0 ease 0;
    }

    .tj-stack.ng-hide {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.tj-spaced {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    margin-bottom: 0;
}

.label {
    margin-right: 5px;
    border-radius: 0;
}

div.progress {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 0;
    margin-top: 9px;
    box-shadow: 0 0 1px #a8a8a8;
    margin-bottom: 3px;
    height: 4px;
}

@media print {
    div.progress {
        background-color: #e7e7e7;
        border: 0;
        box-shadow: none;
    }

    div.progress div.progress-bar {
        border: 0;
        box-shadow: none;
    }
}