
body {
    background: -webkit-radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* Standard syntax */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
}

.tj-section-title {
    font-weight: bold;
}

.tj-title {
    font-weight: bold;
}

.tj-info {
    font-style: italic;
}

.tj-spaced {
    padding-top: 20px;
}

.label-primary {
    margin-right: 5px;
}

body {
    line-height: 150%;
}

div.progress {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 10px;
}

div.progress div.progress-bar {
    float: right;
}