
body {
    background: -webkit-radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#cfcdd3, #e7e4eb, #ffffff); /* Standard syntax */
    font-family: 'Open Sans', sans-serif;
    line-height: 140%;
}

.tj-section-title {
    margin-top: 50px;
    font-weight: bold;
}

.tj-title {
    font-weight: bold;
}

.tj-info {
    font-style: italic;
}

.tj-spaced {
    padding-top: 20px;
}

.label-primary {
    margin-right: 5px;
}

.label{
    border-radius: 0;
}

div.progress {
    background-color: #ffffff;
    border-radius: 0;
    margin-top: 13px;
    box-shadow: 0 0 4px #a8a8a8;
    margin-bottom: 3px;
    height: 4px;
}

div.progress div.progress-bar {
    float: right;
}